@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #570e48d2;
    width: 600px;
    padding: 10px;
    margin: auto;
}
body {
    background-image: linear-gradient(to right, #E02FBF, #94187D);
}
h1 {
    color: #D1E03A;
    text-shadow: 1px 1px 0px #7f8821c0;
    text-align: center;
}
h2 {
    color: #4746E0;
}
p {
    text-align: justify;
    
}